body {
  margin: 0;
  padding: 0;
  background-image: url(images/fondos/textura-madera-en-negro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
header {
  display: flex;
  justify-content: space-around;
  padding: 25px 0px;
}
header h1{
  font-size: 0px;
}
header h2 {
  display: flex;
  align-items: center;
  color: rgb(208, 0, 0);
  text-shadow: 2px 2px 10px #535151;
  font-family: "mistral", cursive;
  font-size: 64px;
  margin-top: 5px;
}
header nav {
  display: flex;
  justify-content: center;
}
header ul {
  display: grid;
  grid-template-columns: auto-fit;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
}
header li {
  list-style-type: none;
  font-family: "Dancing Script", cursive;
  padding: 10px 40px;
  margin-top: 15px;
}
.li-destacado {
  border-right: 0.5px outset #5f5507;
}
header a {
  color: rgb(250, 235, 215);
  text-decoration: none;
  font-size: 25px;
}
.sec-inicio {
  display: grid;
  grid-auto-flow: column;
  padding: 5px 0px;
  background-color: rgb(18, 18, 18);
}
img {
  padding: 0em;
  height: 500px;
  width: 100%;
}

footer {
  z-index: 1;
  padding: 0px 50px;
}

.text-muted {
  margin: 0px 20px;
}
.text-muted a{
  font-family: "Dancing Script", cursive; ;
}
/* Fin Estilo Inicio */

.contenedor-maps {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-items: center ;
  justify-content: space-around;
}
.map1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border: 1px solid #a10404;
  padding: 20px 30px;
  margin: 30px 0px;
  color: rgb(250, 235, 215);
  font-family: 'Alegreya SC', serif;
  text-align: center;
}
.map2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid #a10404;
  justify-content: center;
  padding: 20px 30px;
  color: rgb(250, 235, 215);
  font-family: 'Alegreya SC', serif;
  text-align: center;
}

div iframe{
  padding: 20px 0px;
}
/* Fin Estilo Donde encontrarnos */
.main-nosotros{
  display: flex;
  justify-content: center;
}
.main-nosotros main {
  background-color: #1c1c1c;
  border: 2px solid rgb(185, 121, 2);
  width: 60%;
  height: 400px;
  font-family: 'Alegreya SC', serif;
  justify-items: center;
  text-align: center;
  line-height: 1.5em;
  color: rgb(205, 196, 185);
  padding: 10px ;
  margin: 30px 0;
  overflow-y: scroll;
}

.main-nosotros p:first-letter {
  font-size: 250%;
  color: #d55f5f; 
  font-family: "Dancing Script", cursive;
  }
  /*fin nosotros*/
  .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    justify-content: space-around;
    margin: 0px;
  }
  .menu-container div{
    margin: 20px 25%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid #a10404;
    width: 50%;
    color: rgb(250, 235, 215);
    border-radius: 2%
  }
  .menu-container img{
    height: 50%;
    width: 70%;
    border-radius: 50%;
  }
  .menu-item p{
    text-align: center;
    font-size: .9rem;
    margin-top: 10px;
    font-family: cursive;
  }
  .menu-item h5{
    text-align: center;
    font-family:  'Alegreya SC', serif;
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .menu-item button{
    color: rgb(228, 214, 196);
    background-color: #360101;
    border-radius: 2%;
    border: 1px solid #1c1c1c;
    padding: 10px;
    font-family: 'Alegreya SC', serif;
  }
  .menu-item button:hover{
    background-color: #730101;
  }
  /*fin menu*/
.sec-delivery{
    display: flex;
    justify-content:center;
    color: rgb(214, 204, 190);
    margin: 10px;
    font-family: 'Alegreya SC', serif;;
}
.sec-delivery p{
  margin-top: 21px;
}
.sec-delivery label{
    margin: 20px 20px;
    font-family: 'Alegreya SC', serif;
}
.sec-delivery input{
  margin: 0px 10px;
}
.textarea{
    display: flex;
    justify-content: center;
    margin-bottom: 20px 0px;
}
.enviar{
    display: flex;
    justify-content: center;
}
.enviar input{
    margin: 0px 40px 20px;
    padding: 3px 50px;
    background: rgb(87, 2, 2);
}
.enviar input:hover{
  background: rgb(144, 12, 2);
}
@media only screen and (max-width: 800px) {
  header h2 {
    display: none;
  }
  header h1{
    font-size: 120px;
    font-family: "mistral", cursive;
    align-items: center;
    color: rgb(208, 0, 0);
    text-shadow: 2px 2px 10px #535151;
    padding-left: 80px;
  }
  header ul{
    display: flex;
    flex-direction: column;
  }
  header li{
    padding: 1px;
  }
  .li-destacado {
    border-right: none;
    border-bottom: .5px solid #5f5507;
  }
  .menu-container { 
      display: flex; 
      flex-direction: column;
      justify-items: center; 
      align-items: center;
     }
  .menu-container div {
      padding: 20px; 
      margin-left: 26% ;
    }
    .sec-delivery{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .sec-delivery p{
      margin-bottom: -18px;
    }
    textarea{
      height: max-content;
      width: 90%;
    }
}